<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick</h1>
    <h3 align="center">Convert Data</h3>
    <h4 align="center"><a href="https://github.com/AliBinary">Ali Ghanbari</a></h5>
</div>

### Importing the libraries

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

## Import Dataset & Make Dataframe

In [ ]:
df = pd.read_csv('./Data/titanic.csv')
df.head()

In [ ]:
df.sex.head()

In [ ]:
df['sex_num'] = df.sex.map({'male':0, 'female':1})
df.sex_num.head()

In [ ]:
df.embarked.head(10)

In [ ]:
df['embarked_num'] = df.embarked.factorize()[0]
df.embarked_num.head(10)

### Factorize()
`factorize()` returns a tuple in which the first element contains the new values, which is why I had to use `[0]` to extract the values.

You can see that "S" has become 0, "C" has become 1, and "Q" has become 2. It chose that mapping based on the order in which the values appear in the Series, and if you need to reference the mapping, it's stored in the second value in the tuple:

In [ ]:
df.embarked.factorize()[1]

In [ ]:
df.sibsp.head(10)

In [ ]:
df['sibsp_binary'] = (df.sibsp > 0).astype('int')
df.sibsp_binary.head(10)

#### Notice that the only value greater than 1 has been converted to a 1.