<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 05</h1>
    <h3 align="center">Dataframe Styling</h3>
    <h4 align="center"><a href="https://github.com/AliBinary">Ali Ghanbari</a></h5>
</div>

### Importing the libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

## Import Dataset & Make Dataframe

In [4]:
df = pd.read_csv('./Data/stocks.csv')
df.head()

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT

## Dataframe Styling

In [5]:
df.columns

Index(['Date', 'Close', 'Volume', 'Symbol'], dtype='object')

In [6]:
format_dict = {'Close':'${:.2f}', 'Volume':'{:,}'}

In [7]:
df.style.format(format_dict)

In [8]:
(df.style.format(format_dict)
 .hide(axis="index")
 .highlight_min('Close', color='red')
 .highlight_max('Close', color='lightgreen')
)

In [9]:
(df.style.format(format_dict)
 .hide(axis="index")
 .background_gradient(subset='Volume', cmap='Blues')
)

In [10]:
(df.style.format(format_dict)
 .hide(axis="index")
 .bar('Volume', color='lightblue', align='zero')
 .set_caption('Stock Prices from October 2016')
)