In [ ]:
import pandas as pd

In [ ]:
fa_cols = ['تاریخ',
 'کیلومتر کارکرد',
 'شماره شاسی',
 'سازنده',
 'Model',
 'Type',
 'قیمت بازار',
 'قیمت کارخانه',
 'توضیحات']
en_cols = ['Date',
 'Milage',
 'VIN',
 'Made',
 'Model',
 'Type',
 'Price',
 'Order',
 'Explain']

In [ ]:
cols_dict= dict(zip(fa_cols , en_cols))

In [ ]:
df1 = pd.read_excel('./Data/mordad.xlsx')
df2 = pd.read_excel('./Data/shhrivar.xlsx')
df3 = pd.read_excel('./Data/tir.xlsx')

In [ ]:
pd.concat([df1, df2, df3]).rename(columns = cols_dict).sort_values(by="Milage").to_excel("./Data/season.xlsx",index =False)

In [ ]:
season_data = pd.read_excel('./Data/season.xlsx')

In [ ]:
season_data[season_data["Milage"] > 36000]

In [ ]:
# season_data.drop_duplicates(subset= "Explain")

sample_ = season_data.sample(frac = 0.1)

In [ ]:
sample_

In [ ]:
season_data.nlargest(3, "Price")

In [ ]:
season_data.nsmallest(3,"Price")

In [ ]:
top10 = season_data.head(150)

In [ ]:
top10

In [ ]:
season_data

In [ ]:
season_data[['VIN' , "Price"]]

In [ ]:
season_data.filter(regex= '^M')

In [ ]:
season_data

In [ ]:
season_data.query("Milage > 36000 or Price > 22000000")

In [ ]:
season_data[(season_data["Milage"]> 36000) | (season_data["Price"]> 22000000)]

In [ ]:
df_dropna = season_data.dropna()

In [ ]:
df_dropna.query("Explain.str.startswith('بی')" , engine= 'python' ).head(40)