In [ ]:
import pandas as pd

df= pd.read_excel("./Data/CarsENCols.xlsx" , index_col = 0 )

In [ ]:
df.head(39)

In [ ]:
# df[df['VIN'] != 'NA0000000000000203']

In [ ]:
block_list = ['NA0000000000000203' , 'NA0000000000000233' ]

df[~df['VIN'].isin(block_list)]

In [ ]:
df[df["Made"].notnull()]

In [ ]:
df[(df["Milage"] >35000) ^ (df['Type'] == 'Hatchback' )].head(2)

In [ ]:
df.isnull().any()