In [1]:
import pandas as pd


df = pd.read_excel("./Data/CarsENCols.xlsx" , index_col = 0)

In [2]:
df

,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
index,,,,,,,,,
0,1400-1-تیر,24393.0,NA0000000000000200,سایپا,پراید,Hatchback,17049382.0,17000000.0,بی رنگ
1,1400-2-تیر,18177.0,NA0000000000000201,سایپا,پراید,Hatchback,20059011.0,17000000.0,بیرنگ
2,1400-3-تیر,20600.0,NA0000000000000202,سایپا,پراید,Hatchback,17085239.0,17000000.0,زدگی
3,1400-4-تیر,26210.0,NA0000000000000203,سایپا,پراید,Hatchback,19220924.0,17000000.0,تصادف
4,1400-5-تیر,24213.0,NA0000000000000204,سایپا,پراید,Hatchback,20566626.0,17000000.0,بدون تصادف
...,...,...,...,...,...,...,...,...,...
192,1400-7-مرداد,20468.0,NA0000000000000392,ایرانخودرو,پژو206,Sedan,27423787.0,21000000.0,زدگی
193,1400-8-مرداد,20747.0,NA0000000000000393,ایرانخودرو,پژو206,Sedan,25184712.0,21000000.0,تصادف
194,1400-9-مرداد,20397.0,NA0000000000000394,ایرانخودرو,پژو206,Sedan,23437833.0,21000000.0,بدون تصادف
195,1400-10-مرداد,24358.0,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805.0,21000000.0,فابریک
196,1400-11-مرداد,27363.0,NA0000000000000396,ایرانخودرو,پژو206,Sedan,25025798.0,21000000.0,بی رنگ

In [3]:
df['Explain'].value_counts(dropna= False)

Explain
بی رنگ        58
تصادف         30
فابریک        30
بدون تصادف    21
بیرنگ         17
زدگی          12
پوسیدگی        9
تصادف جزیی     8
بدون رنگ       6
NaN            4
بیمه فول       1
بیمه بدنه      1
Name: count, dtype: int64

In [4]:
df.shape

(197, 9)

In [5]:
len(df)

197

In [6]:
df['Explain'].nunique(dropna= False)

12

In [7]:
df['Explain'].unique()

array(['بی رنگ', 'بیرنگ', 'زدگی', 'تصادف', 'بدون تصادف', 'فابریک',
       'تصادف جزیی', 'پوسیدگی', 'بدون رنگ', 'بیمه فول', 'بیمه بدنه', nan],
      dtype=object)

In [8]:
df.describe()

             Milage         Price         Order
count    196.000000  1.940000e+02  1.950000e+02
mean   22018.168367  2.353952e+07  1.933333e+07
std     6306.472858  4.775663e+06  2.541748e+06
min     3385.000000  1.281727e+07  1.500000e+07
25%    18425.000000  1.922996e+07  1.700000e+07
50%    23285.000000  2.545422e+07  2.100000e+07
75%    26264.250000  2.718612e+07  2.100000e+07
max    37886.000000  2.990612e+07  2.200000e+07

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 197 entries, 0 to 196
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     193 non-null    object
 1   Milage   196 non-null    float64
 2   VIN      196 non-null    object
 3   Made     194 non-null    object
 4   Model    195 non-null    object
 5   Type     196 non-null    object
 6   Price    194 non-null    float64
 7   Order    195 non-null    float64
 8   Explain  193 non-null    object
dtypes: float64(3), object(6)
memory usage: 15.4+ KB

In [10]:
df_numbers = df[['Milage', 'Price' , "Order"]]

In [11]:
df_numbers.sum()

Milage    4.315561e+06
Price     4.566667e+09
Order     3.770000e+09
dtype: float64

In [12]:
df['Price'].sum()

4566667067.0

In [13]:
df_numbers.quantile([0.25,0.75])

        Milage        Price       Order
0.25  18425.00  19229962.75  17000000.0
0.75  26264.25  27186117.00  21000000.0

In [14]:
df.isna().sum()

Date       4
Milage     1
VIN        1
Made       3
Model      2
Type       1
Price      3
Order      2
Explain    4
dtype: int64

In [15]:
df['Price'] = df['Price'].fillna(df['Price'].mean())

In [16]:
def to_rail(series):
    result = series *10
    return int(result)

In [17]:
df['Price'].apply(to_rail)

index
0      170493820
1      200590110
2      170852390
3      192209240
4      205666260
         ...
192    274237870
193    251847120
194    234378330
195    294118050
196    250257980
Name: Price, Length: 197, dtype: int64