In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./Data/CleanData.xlsx')

In [3]:
df.head(2)

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
0,0,1400-1-تیر,24393,NA0000000000000200,سایپا,پراید,Hatchback,17049382,17000000,بی رنگ
1,1,1400-2-تیر,18177,NA0000000000000201,سایپا,پراید,Hatchback,20059011,17000000,بیرنگ

In [4]:
df.shape

(184, 10)

In [5]:
rahvar_data = df.sample(n = 7)

In [6]:
rahvar_data['Accident'] = np.random.choice(['Moghaser' , "____" , "50%"] , 7)

In [7]:
rahvar_data.reset_index(inplace = True)

In [8]:
rahvar_data = rahvar_data[["VIN" , "Accident"]]

In [9]:
rahvar_data.to_excel("./Data/RahvarData.xlsx" , index = None)

In [10]:
rahvar_data2 = pd.read_excel("./Data/RahvarData.xlsx")

In [11]:
rahvar_data2.shape

(7, 2)

In [12]:
rahvar_data2.loc[len(rahvar_data2)] = ['NT9999000000000200' , "Moghaser"]

In [13]:
rahvar_data2

                  VIN  Accident
0  NA0000000000000203      ____
1  NA0000000000000263       50%
2  NA0000000000000372  Moghaser
3  NA0000000000000373       50%
4  NA0000000000000223      ____
5  NA0000000000000309      ____
6  NA0000000000000303      ____
7  NT9999000000000200  Moghaser

In [14]:
left_merge = pd.merge(df , rahvar_data2 , how = 'left')

In [15]:
left_merge

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain,Accident
0,0,1400-1-تیر,24393,NA0000000000000200,سایپا,پراید,Hatchback,17049382,17000000,بی رنگ,NaN
1,1,1400-2-تیر,18177,NA0000000000000201,سایپا,پراید,Hatchback,20059011,17000000,بیرنگ,NaN
2,2,1400-3-تیر,20600,NA0000000000000202,سایپا,پراید,Hatchback,17085239,17000000,زدگی,NaN
3,3,1400-4-تیر,26210,NA0000000000000203,سایپا,پراید,Hatchback,19220924,17000000,تصادف,____
4,4,1400-5-تیر,24213,NA0000000000000204,سایپا,پراید,Hatchback,20566626,17000000,بدون تصادف,NaN
...,...,...,...,...,...,...,...,...,...,...,...
179,192,1400-7-مرداد,20468,NA0000000000000392,ایرانخودرو,پژو206,Sedan,27423787,21000000,زدگی,NaN
180,193,1400-8-مرداد,20747,NA0000000000000393,ایرانخودرو,پژو206,Sedan,25184712,21000000,تصادف,NaN
181,194,1400-9-مرداد,20397,NA0000000000000394,ایرانخودرو,پژو206,Sedan,23437833,21000000,بدون تصادف,NaN
182,195,1400-10-مرداد,24358,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805,21000000,فابریک,NaN
183,196,1400-11-مرداد,27363,NA0000000000000396,ایرانخودرو,پژو206,Sedan,25025798,21000000,بی رنگ,NaN

In [16]:
right_merge = pd.merge(df , rahvar_data2 , how = 'right' , on = "VIN")

In [17]:
right_merge

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain,Accident
0,3.0,1400-4-تیر,26210.0,NA0000000000000203,سایپا,پراید,Hatchback,19220924.0,17000000.0,تصادف,____
1,63.0,1400-2-شهریور,21192.0,NA0000000000000263,ایرانخودرو,پژو206,Sedan,23087383.0,21000000.0,بدون تصادف,50%
2,172.0,1400-18-شهریور,28513.0,NA0000000000000372,ایرانخودرو,پژو206,Hatchback,27117654.0,22000000.0,بدون تصادف,Moghaser
3,173.0,1400-19-شهریور,17391.0,NA0000000000000373,ایرانخودرو,پژو206,Hatchback,25906747.0,22000000.0,فابریک,50%
4,23.0,1400-24-تیر,27392.0,NA0000000000000223,ایرانخودرو,پژو206,Hatchback,25401548.0,20000000.0,فابریک,____
5,109.0,1400-17-تیر,18728.0,NA0000000000000309,ایرانخودرو,پژو206,Hatchback,24056175.0,22000000.0,بی رنگ,____
6,103.0,1400-11-تیر,20593.0,NA0000000000000303,ایرانخودرو,پژو206,Hatchback,24974600.0,22000000.0,بی رنگ,____
7,NaN,NaN,NaN,NT9999000000000200,NaN,NaN,NaN,NaN,NaN,NaN,Moghaser

In [18]:
inner_merge = pd.merge(df , rahvar_data2 , how = 'inner' )

In [19]:
inner_merge

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain,Accident
0,3,1400-4-تیر,26210,NA0000000000000203,سایپا,پراید,Hatchback,19220924,17000000,تصادف,____
1,23,1400-24-تیر,27392,NA0000000000000223,ایرانخودرو,پژو206,Hatchback,25401548,20000000,فابریک,____
2,63,1400-2-شهریور,21192,NA0000000000000263,ایرانخودرو,پژو206,Sedan,23087383,21000000,بدون تصادف,50%
3,103,1400-11-تیر,20593,NA0000000000000303,ایرانخودرو,پژو206,Hatchback,24974600,22000000,بی رنگ,____
4,109,1400-17-تیر,18728,NA0000000000000309,ایرانخودرو,پژو206,Hatchback,24056175,22000000,بی رنگ,____
5,172,1400-18-شهریور,28513,NA0000000000000372,ایرانخودرو,پژو206,Hatchback,27117654,22000000,بدون تصادف,Moghaser
6,173,1400-19-شهریور,17391,NA0000000000000373,ایرانخودرو,پژو206,Hatchback,25906747,22000000,فابریک,50%

In [20]:
inner_merge2 = pd.merge(df , rahvar_data2  )

In [21]:
inner_merge2

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain,Accident
0,3,1400-4-تیر,26210,NA0000000000000203,سایپا,پراید,Hatchback,19220924,17000000,تصادف,____
1,23,1400-24-تیر,27392,NA0000000000000223,ایرانخودرو,پژو206,Hatchback,25401548,20000000,فابریک,____
2,63,1400-2-شهریور,21192,NA0000000000000263,ایرانخودرو,پژو206,Sedan,23087383,21000000,بدون تصادف,50%
3,103,1400-11-تیر,20593,NA0000000000000303,ایرانخودرو,پژو206,Hatchback,24974600,22000000,بی رنگ,____
4,109,1400-17-تیر,18728,NA0000000000000309,ایرانخودرو,پژو206,Hatchback,24056175,22000000,بی رنگ,____
5,172,1400-18-شهریور,28513,NA0000000000000372,ایرانخودرو,پژو206,Hatchback,27117654,22000000,بدون تصادف,Moghaser
6,173,1400-19-شهریور,17391,NA0000000000000373,ایرانخودرو,پژو206,Hatchback,25906747,22000000,فابریک,50%

In [22]:
outer_merge2 = pd.merge(df , rahvar_data2   , how = "outer")

In [23]:
outer_merge2

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain,Accident
0,0.0,1400-1-تیر,24393.0,NA0000000000000200,سایپا,پراید,Hatchback,17049382.0,17000000.0,بی رنگ,NaN
1,1.0,1400-2-تیر,18177.0,NA0000000000000201,سایپا,پراید,Hatchback,20059011.0,17000000.0,بیرنگ,NaN
2,2.0,1400-3-تیر,20600.0,NA0000000000000202,سایپا,پراید,Hatchback,17085239.0,17000000.0,زدگی,NaN
3,3.0,1400-4-تیر,26210.0,NA0000000000000203,سایپا,پراید,Hatchback,19220924.0,17000000.0,تصادف,____
4,4.0,1400-5-تیر,24213.0,NA0000000000000204,سایپا,پراید,Hatchback,20566626.0,17000000.0,بدون تصادف,NaN
...,...,...,...,...,...,...,...,...,...,...,...
180,193.0,1400-8-مرداد,20747.0,NA0000000000000393,ایرانخودرو,پژو206,Sedan,25184712.0,21000000.0,تصادف,NaN
181,194.0,1400-9-مرداد,20397.0,NA0000000000000394,ایرانخودرو,پژو206,Sedan,23437833.0,21000000.0,بدون تصادف,NaN
182,195.0,1400-10-مرداد,24358.0,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805.0,21000000.0,فابریک,NaN
183,196.0,1400-11-مرداد,27363.0,NA0000000000000396,ایرانخودرو,پژو206,Sedan,25025798.0,21000000.0,بی رنگ,NaN
184,NaN,NaN,NaN,NT9999000000000200,NaN,NaN,NaN,NaN,NaN,NaN,Moghaser

# Filtering Data

In [24]:
df[~df['VIN'].isin(rahvar_data2['VIN'])]

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
0,0,1400-1-تیر,24393,NA0000000000000200,سایپا,پراید,Hatchback,17049382,17000000,بی رنگ
1,1,1400-2-تیر,18177,NA0000000000000201,سایپا,پراید,Hatchback,20059011,17000000,بیرنگ
2,2,1400-3-تیر,20600,NA0000000000000202,سایپا,پراید,Hatchback,17085239,17000000,زدگی
4,4,1400-5-تیر,24213,NA0000000000000204,سایپا,پراید,Hatchback,20566626,17000000,بدون تصادف
5,5,1400-6-تیر,24628,NA0000000000000205,سایپا,پراید,Hatchback,17586869,17000000,فابریک
...,...,...,...,...,...,...,...,...,...,...
179,192,1400-7-مرداد,20468,NA0000000000000392,ایرانخودرو,پژو206,Sedan,27423787,21000000,زدگی
180,193,1400-8-مرداد,20747,NA0000000000000393,ایرانخودرو,پژو206,Sedan,25184712,21000000,تصادف
181,194,1400-9-مرداد,20397,NA0000000000000394,ایرانخودرو,پژو206,Sedan,23437833,21000000,بدون تصادف
182,195,1400-10-مرداد,24358,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805,21000000,فابریک
183,196,1400-11-مرداد,27363,NA0000000000000396,ایرانخودرو,پژو206,Sedan,25025798,21000000,بی رنگ